<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="./public/stylesheets/style.css">
</head>
<body id="plant">
<p>植物列表</p>
<ul>
    {% for item in plants %}
    <li>
        <a href="{{item.detail_url}}">
            <img src="{{item.plant_pic}}" alt="{{item.plant_pic}}">
            <p class="plant-name">{{item.plant_name}}</p>
            <p class="plant-description">{{item.description}}</p>
        </a>
    </li>
    {% endfor %}
</ul>
</body>
</html>